<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="data.component.css">
    <link rel="stylesheet"  href="../css/lightgallery.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/java/lightgallery.min.js"></script>
    <script src="../assets/java/script.js"></script>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <a href="data.component.html" class="navbar-brand">Digital Project</a>
        <ul class="navbar-menu">
            <li><a href="data.component.html">Главная</a></li>
            <li><a href="gallery.component.html">Галлерея</a></li>
            <li><a href="project.component.html">Проекты</a></li>
            <li><a href="certification.component.html">Сертификаты</a></li>
            <li><a href="contact.component.html">Контакты</a></li>
        </ul>
    </div>
</nav>
<section class="osnova">
    <h1 class="header-h1">Сертификаты компании</h1>
    <div class="element-1">
        <a href="../assets/sert1.jpg">
            <img src="../assets/sert1.jpg" alt="">
        </a>
        <a href="../assets/sert2.png">
            <img src="../assets/sert2.png" alt="">
        </a>
        <a href="../assets/sert3.jpg">
            <img src="../assets/sert3.jpg" alt="">
        </a>
        <a href="../assets/sert4.jpg">
            <img src="../assets/sert4.jpg" alt="">
        </a>
    </div>
</section>
</body>
<footer>
    <nav class="navfooter">
        <ul class="navfooter-menu">
            <p class="headfoot">Информация</p>
            <li><a href="data.component.html">Главная</a></li>
            <li><a href="">Галлерея</a></li>
            <li><a href="#">Проекты</a></li>
            <li><a href="#">Сертификаты</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <ul>
            <p class="headfoot">Контакты</p>
            <p class="footcontact">г.Москва Простая улица 1234</p>
            <p class="footcontact">88995553535</p>
            <p class="footcontact">samplemail@mail.ru</p>
        </ul>
        <ul>
            <p class="headfoot"> Социальные сети</p>
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank">
                    Facebook
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    Twitter
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    Instagram
                </a>
                <a href="https://www.twitch.tv" target="_blank">
                    Twitch
                </a>
            </div>
        </ul>
    </nav>
</footer>
</html>
