<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"  href="data.component.css">
  <link rel="stylesheet"  href="../css/lightgallery.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="../assets/java/lightgallery.min.js"></script>
  <script src="../assets/java/script.js"></script>
</head>
<body>
<nav class="navbar">
  <div class="container">
    <a href="data.component.html" class="navbar-brand">Digital Project</a>
    <ul class="navbar-menu">
      <li><a href="data.component.html">Главная</a></li>
      <li><a href="gallery.component.html">Галлерея</a></li>
      <li><a href="project.component.html">Проекты</a></li>
      <li><a href="certification.component.html">Сертификаты</a></li>
      <li><a href="contact.component.html">Контакты</a></li>
    </ul>
  </div>
</nav>
<section class="osnova">
  <h1 class="header-h1">Контакты</h1>
  <p><strong>Адресс офиса: </strong> г.Москва Простая улица 1234</p>
  <p><strong>Номер телефона: </strong>88995553535</p>
  <p><strong>Email: </strong>samplemail@mail.ru</p>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1a7f7a7f91ac4712f4604fc79c0dbbde5a4ea7669f53d94ea7ce90e808df2cd4&amp;width=607&amp;height=515&amp;lang=ru_RU&amp;scroll=true"></script>
</section>
</body>
<footer>
  <nav class="navfooter">
    <ul class="navfooter-menu">
      <p class="headfoot">Информация</p>
      <li><a href="data.component.html">Главная</a></li>
      <li><a href="">Галлерея</a></li>
      <li><a href="#">Проекты</a></li>
      <li><a href="#">Сертификаты</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <ul>
      <p class="headfoot">Контакты</p>
      <p class="footcontact">г.Москва Простая улица 1234</p>
      <p class="footcontact">88995553535</p>
      <p class="footcontact">samplemail@mail.ru</p>
    </ul>
    <ul>
      <p class="headfoot"> Социальные сети</p>
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank">
          Facebook
        </a>
        <a href="https://www.twitter.com" target="_blank">
          Twitter
        </a>
        <a href="https://www.instagram.com" target="_blank">
          Instagram
        </a>
        <a href="https://www.twitch.tv" target="_blank">
          Twitch
        </a>
      </div>
    </ul>
  </nav>
</footer>
</html>
