<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="data.component.css">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <a href="data.component.html" class="navbar-brand">Digital Project</a>
        <ul class="navbar-menu">
          <li><a href="data.component.html">Главная</a></li>
          <li><a href="gallery.component.html">Галлерея</a></li>
          <li><a href="project.component.html">Проекты</a></li>
          <li><a href="certification.component.html">Сертификаты</a></li>
          <li><a href="contact.component.html">Контакты</a></li>
        </ul>
    </div>
  </nav>
  <section class="osnova">
    <blockquote class="primer">
      <p>
        <img src="../assets/1.jpg" width="320" height="260" alt="house1" align="left" class="image-main">
        Мы занимаемся сторительством домов и коттеджей под ключ с 2016 года.
        Основная деятельность компании
        Cтроительство каменных домов в Московской области.
        Мы строим дома из кирпича, газобетона,теплой керамики,монолита
        Наша организация представлена профессиональными сотрудниками, имеющими высшее образование, опыт работы в государственных органах и учреждениях.Эксклюзивностью деятельности компании является возможность каждого заинтересованного в получении дополнительного дохода стать партнером компании. Мы ежеквартально проводим мероприятия в виде бонусов выраженных в предоставлении скидок на недвижимость до 20% от стоимости объекта.
      </p>
      <p>
        <img src="../assets/2.jpg" width="320" height="260" alt="house1" align="right" class="image-main-right">
        Мы занимаемся сторительством домов и коттеджей под ключ с 2016 года.
        Основная деятельность компании
        Cтроительство каменных домов в Московской области.
        Мы строим дома из кирпича, газобетона,теплой керамики,монолита
        Наша организация представлена профессиональными сотрудниками, имеющими высшее образование, опыт работы в государственных органах и учреждениях.Эксклюзивностью деятельности компании является возможность каждого заинтересованного в получении дополнительного дохода стать партнером компании. Мы ежеквартально проводим мероприятия в виде бонусов выраженных в предоставлении скидок на недвижимость до 20% от стоимости объекта.
      </p>
      <p>
        <img src="../assets/3.jpg" width="320" height="260" alt="house1" align="left" class="image-main">
        Мы занимаемся сторительством домов и коттеджей под ключ с 2016 года.
        Основная деятельность компании
        Cтроительство каменных домов в Московской области.
        Мы строим дома из кирпича, газобетона,теплой керамики,монолита
        Наша организация представлена профессиональными сотрудниками, имеющими высшее образование, опыт работы в государственных органах и учреждениях.Эксклюзивностью деятельности компании является возможность каждого заинтересованного в получении дополнительного дохода стать партнером компании. Мы ежеквартально проводим мероприятия в виде бонусов выраженных в предоставлении скидок на недвижимость до 20% от стоимости объекта.
      </p>
  </blockquote>
  </section>
</body>
<footer>
  <nav class="navfooter">
    <div class="col1">
    <ul class="navfooter-menu">
      <p class="headfoot">Информация</p>
      <li><a href="data.component.html">Главная</a></li>
      <li><a href="gallery.component.html">Галлерея</a></li>
      <li><a href="project.component.html">Проекты</a></li>
      <li><a href="certification.component.html">Сертификаты</a></li>
      <li><a href="contact.component.html">Контакты</a></li>
    </ul>
    </div>
    <div class="col2">
    <ul>
      <p class="headfoot">Контакты</p>
      <p class="footcontact">г.Москва Простая улица 1234</p>
      <p class="footcontact">88995553535</p>
      <p class="footcontact">samplemail@mail.ru</p>
    </ul>
    </div>
    <ul>
      <div class="social-icons">
        <ul>
        <p class="headfoot"> Социальные сети</p>
        <a href="https://www.facebook.com" target="_blank">
          Facebook
        </a>
        <a href="https://www.twitter.com" target="_blank">
          Twitter
        </a>
        <a href="https://www.instagram.com" target="_blank">
          Instagram
        </a>
        <a href="https://www.twitch.tv" target="_blank">
          Twitch
        </a>
        </ul>
      </div>
    </ul>
  </nav>
</footer>
</html>
