<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="data.component.css">
    <link rel="stylesheet"  href="../css/lightgallery.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/java/lightgallery.min.js"></script>
    <script src="../assets/java/script.js"></script>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <a href="data.component.html" class="navbar-brand">Digital Project</a>
        <ul class="navbar-menu">
            <li><a href="data.component.html">Главная</a></li>
            <li><a href="gallery.component.html">Галлерея</a></li>
            <li><a href="project.component.html">Проекты</a></li>
            <li><a href="certification.component.html">Сертификаты</a></li>
            <li><a href="contact.component.html">Контакты</a></li>
        </ul>
    </div>
</nav>
<section class="osnova">
    <h1 class="header-h1">Наши проекты</h1>
    <div>
        <p>Как мы строим дома: от мечты до реальности
        </p>
        <p>
            <strong>Вступление:</strong>
            Строительство собственного дома – это мечта многих людей. Но как воплотить эту мечту в жизнь? Сейчас мы расскажеам вам обо всех этапах, через которые прошли, и о том, как исполняем мечты людей.
        </p>
        <p>
            <strong>Шаг 1:</strong> Планирование и проектирование
            Перед тем, как приступить к строительству, необходимо провести тщательное планирование и проектирование. Мы начинаем с определения ваших потребностей и желаний – сколько комнат вам нужно, какую планировку вы хотите, какую площадь дома вы можете себе позволить. Затем разрабатываем для вас проект дома, учитывая все ваши требования.
        </p>
        <p>
            <strong>Шаг 2:</strong> Подготовка участка
            Следующим шагом является подготовка участка под строительство. Мы проводим его геодезическую разметку, делалаем замеры и выравниваем поверхность. Также поможем получить необходимые разрешительные документы и согласовать проект с местными органами власти.
        </p>
        <p>
            <strong>Шаг 3:</strong> Фундамент и строительство стен
            Одним из самых важных этапов является возведение фундамента. Мы выбираем исключительно качественные материалы и свой тип конструкции индивидуально. После того, как фундамент готов, мы приступаем к строительству стен. В основном используем кирпичную кладку, так как она имеет хорошую звуко- и теплоизоляцию.
        </p>
        <p>
            <strong>Шаг 4:</strong> Кровля и отделка
            После того, как стены возведены, настало время установки крыши. Мы выбираем качественный металлочерепичный материал, который обеспечивает надежную защиту от атмосферных осадков. Затем приступаем к внутренней отделке дома – установке напольного покрытия, окон, дверей, отделке стен и потолков.
        </p>
        <p>
            <strong>Шаг 5:</strong> Коммуникации и системы
            Последним этапом является установка коммуникаций и систем в доме. Мы прокладываем электрические провода, устанавливаем систему отопления и вентиляции, прокладывал трубы для водоснабжения и канализации. Также мы устанавливаем систему безопасности и видеонаблюдения.
        </p>
        <p>
            Заключение
            Строительство своего дома – это долгий и трудоемкий процесс, но результат того стоит. Каждый этап строительства важный и требует тщательной проработки. Если вы также мечтаете о собственном доме, не бойтесь воплощать свои мечты в жизнь, позвоните нам и мы осуществим вашу мечту.</p>
        <p>
            <strong>Ниже приведены примеры домов.</strong>
        </p>
    </div>
    <div class="cart">
        <div class="text-cart">
            Данный дом был построен за 7 месяцев и соответствует всем пожеланиям клиента.
        </div>
        <div class="cart-with-image">
            <img src="../assets/1.jpg" class="cart-image"/>
        </div>
    </div>
    <div class="cart">
        <div class="text-cart">
            Данный дом был построен за 10 месяцев и соответствует всем пожеланиям клиента.
        </div>
        <div class="cart-with-image">
            <img src="../assets/2.jpg" class="cart-image"/>
        </div>
    </div>
    <div class="cart">
        <div class="text-cart">
            Данный дом был построен за 5 месяцев и соответствует всем пожеланиям клиента.
        </div>
        <div class="cart-with-image">
            <img src="../assets/3.jpg" class="cart-image"/>
        </div>
    </div>

</section>
</body>
<footer>
    <nav class="navfooter">
        <ul class="navfooter-menu">
            <li><a href="data.component.html">Главная</a></li>
            <li><a href="gallery.component.html">Галлерея</a></li>
            <li><a href="project.component.html">Проекты</a></li>
            <li><a href="certification.component.html">Сертификаты</a></li>
            <li><a href="contact.component.html">Контакты</a></li>
        </ul>
        <ul>
            <p class="headfoot">Контакты</p>
            <p class="footcontact">г.Москва Простая улица 1234</p>
            <p class="footcontact">88995553535</p>
            <p class="footcontact">samplemail@mail.ru</p>
        </ul>
        <ul>
            <p class="headfoot"> Социальные сети</p>
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank">
                    Facebook
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    Twitter
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    Instagram
                </a>
                <a href="https://www.twitch.tv" target="_blank">
                    Twitch
                </a>
            </div>
        </ul>
    </nav>
</footer>
</html>
